/* Default Light Mode Styles */
body {
    background-color: #b0b0b0;
    font-weight: bold;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.upload-image {
    margin: 20px;
}

.upload-image form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 200px;
}

.form-column input, .form-column label {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
    color: inherit;
}

.form-column input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    border: none;
    background-color: #fff;
}

input.image-loader {
    background-color: #b0b0b0;
    padding-left: 0;
}

.form-column button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #e2e2e2;
    cursor: pointer;
    font-weight: bold;
}

.form-column button:hover {
    background-color: #d5d5d5;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .form-column input {
    background-color: #787878;
    color: #fff;
}

body.dark-mode .form-column button {
    background-color: #555;
    color: #fff;
}

body.dark-mode .form-column button:hover {
    background-color: #666;
}

body.dark-mode input.image-loader {
    background-color: #121212;
}
