/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: none;
}

/* Navbar styling */
.navbar {
    background-color: #16447b;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    overflow-x: auto;
    scrollbar-width: none;
}

#search {
    border-radius: 10px;
    height: 25px;
    margin-right: 10px;
    border: none;
    padding-left: 10px;
    width: 90px;
}

#search-btn {
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 25px;
    width: 45px;
}

#search-btn:hover {
    background-color: #939393;
}

.navbar .logo img {
    height: 50px;
    border: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #575757;
}

.dark-mode {
    font-family: Arial, sans-serif;
}

/* Sort section styling */
.sort {
    display: flex;
    flex-direction: row;
    background-color: white;
    position: fixed;
    padding-top: 90px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 100%;
    z-index: 1;
}

.sort .upload-btn {
    justify-content: center;
    margin-top: 2px;
    margin-left: 10px;
}

.sort .upload-btn button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort .sort-by-date label {
    font-weight: bold;
}

.sort .sort-by-date input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.sort .sort-by-date input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sort .sort-by-date input[type="submit"]:hover {
    background-color: #555;
}

/* Main content styling */
main {
    margin-top: 140px;
    padding: 20px;
}

/* Event list and items styling */
.event-list {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.date-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 10px;
}

.event-panel {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 10px;
}

.event-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
}

.event-item p, h3{
    margin-bottom: 5px;
}

.event-item:last-child {
    margin-right: 0;
}

.event-img {
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Dark mode styling */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .navbar {
    background-color: #1e1e1e;
}

body.dark-mode .navbar ul li a {
    color: #e0e0e0;
}

body.dark-mode .navbar ul li a:hover {
    background-color: #333333;
}

body.dark-mode .sort {
    background-color: #1e1e1e;
    
}

body.dark-mode .event-item {
    background-color: #2c2c2c;
    border-color: #444444;
}